input {
  width: 200px;
  height: 2rem;
  line-height: 2rem;
  border: none;
  padding: 0 1rem;
  display: block;
  background: $grey-light;
}

label {
  display: block;
}

textarea {
  display: block;
  width: 200px;
}

.error {
  background: $white;
  padding: .5em 1em;
  border-left: 2px solid $red;
  margin: 1em 0;
}
