.login-form {
  margin-left: auto;

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    opacity: .7;
  }

  &-container {
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
  }
  &-input {
    display: block;
    margin-bottom: 1em;
  }
  &-label {
    color: $color-grey;
  }
  &-title {
    color: $color-grey;
  }
}
